<div class="brandbar">
  <div class="container">
    <div class="row">
      <div id="un-global-link-area">
        <a href="https://www.un.org/" target="_blank" rel="noopener external" title="{{ 'United Nations Global Website'|t }}">{{ 'Welcome to the United Nations'|t }}</a>
      </div>
      <div id="language-switcher-area">
        {% block brandbar_content %}
         {{ page.brandbar }}
          {% if languages %}
            <div class="block">
              <div class="language-switcher-links">
                <nav role="navigation" aria-labelledby="language-switcher-label">
                  <ul>
                    {% for link in languages %}
                      <li>
                      {% include "@atoms/links/link/link.twig" with {
                        "link_base_class": link.link_base_class,
                        "link_content": link.link_content,
                        "link_url": link.link_url,
                      } %}
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              </div>
              <div class="language-switcher-dropdown">
                <div class="js-form-item form-item">
                  <div class="form-item__dropdown">
                    <select class="form-select form-item__select">
                      {% for link in languages %}
                        <option value="{{ link.link_url }}">{{ link.link_content }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>