{% set footer__base_class = 'footer' %}
{% if not current_language %}
  {% set current_language = 'en' %}
{% endif %}
{% set logo_src = (directory ? un_geneva_design_system_path ~ '/images/' : './') ~ 'logo/logo-' ~ current_language ~ '-reverse.svg' %}

<footer id="footer" {{ bem(footer__base_class) }}>
    <div class="container">
      <div {{ bem(footer__base_class, ['inner']) }}>
        <div {{ bem(footer__base_class, ['top']) }}>
          <div class="un-logo">
            <a href="{{ url('<front>') }}"><img src=" {{ logo_src }}" /></a>
          </div>
          {% block social_menu %}
            {% include "@molecules/menus/social/social-menu.twig" with {
              menu_class: "social-menu",
              items: social_menu,
            } %}
          {% endblock %}
        </div>
        {% block footer_menu %}
          {% include "@molecules/menus/_menu.twig" with {
            menu_class: "footer-menu",
            items: footer_menu,
          } %}
        {% endblock %}
      </div>
    </div>
</footer>