{% if directory %}
  {% set item_attributes = attributes ? attributes : create_attribute() %}
  {% set item_attributes_text = item_attributes.addClass('meeting-list-item') %}
{% else %}
  {% set item_attributes = attributes ? attributes : create_attribute() %}
  {% set item_attributes_text = item_attributes %}
{% endif %}
{% if not time_icon %}
  {% set time_icon = 'fa-regular fa-clock' %}
{% endif %}
{% if not date_icon %}
  {% set date_icon = 'fa-regular fa-calendar-days' %}
{% endif %}
{% if not location_icon %}
  {% set location_icon = 'fa-solid fa-location-dot' %}
{% endif %}
{% if not audio_icon %}
  {% set audio_icon = 'fa-solid fa-headphones' %}
{% endif %}
{% if not transcripts_icon %}
  {% set transcripts_icon = 'fa-solid fa-file-lines' %}
{% endif %}
{% if not private_icon %}
  {% set private_icon = 'fa fa-lock' %}
{% endif %}
<div {{ item_attributes }}>
  <div class="meeting-list-item--meta">
    {% if date %}
      <div class="meeting-list-item--meta--date">
        <i class="{{ date_icon }}"></i>&nbsp;{{ date }}
      </div>
    {% endif %}
    {% if time %}
      <div class="meeting-list-item--meta--time">
        <i class="{{ time_icon }}"></i>&nbsp;{{ time }}
      </div>
    {% endif %}
    {% if room %}
      <div class="meeting-list-item--meta--room">
        {% if room_link %}
          <a href="{{ room_link }}" title="{{ room }}">
        {% endif %}
            <i class="{{ location_icon }}"></i>&nbsp;{{ room }}
        {% if room_link %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="meeting-list-item--main">
    <div class="meeting-list-item--main--wrapper">
      <div class="meeting-list-item--title">{{ title }}</div>
      <div class="meeting-list-item--body">{{ body|raw }}</div>
      <div class="meeting-list-item--recordings">
        {% if audio %}
          <div class="meeting-list-item--languages" title="{{ 'Supported audio languages'|t }}">
            <i class="{{ audio_icon }}"></i>&nbsp;{{ audio }}
          </div>
        {% endif %}
        {% if transcripts %}
          <div class="meeting-list-item--transcripts" title="{{ 'Supported transcript languages'|t }}">
            <i class="{{ transcripts_icon }}"></i>&nbsp;{{ transcripts }}
          </div>
        {% endif %}
      </div>
    </div>
    {% if private %}
      <div class="meeting-list-item--status"><span class="meeting-list-item--visibility" title="{{ 'Private meeting'|t }}"><i class="{{ private_icon }}"></i></span></div>
    {% endif %}
    <div class="meeting-list-item--link">
      {% if link %}
        <a href="{{ link }}" class="button button--alt">{{ link_title }}</a>
      {% else %}
        <em>{{ no_link_text }}</em>
      {% endif %}
    </div>
  </div>
</div>